@import "styles/mainUtil";

.education {
  p {
    margin: 0;

    &.qualification {
      margin-bottom: .5rem;
      font-weight: 500;

      span {
        margin-left: .25rem;

        &:before {
          content: '|';
          margin-right: .25rem;
        }
      }
    }

    &.period {
      margin-bottom: 1rem;
      font-size: .9rem;
    }
  }

  .details {
  }
}