@import "styles/mainUtil";

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 46px);

  .left {
    padding-bottom: 2rem;
    z-index: 2;
    width: 190px;
    background-color: $main_dark;
    color: $white;
    position: absolute;
    left: -190px;
    top: 0;
    height: 100%;
    min-height: calc(100vh - 46px);

    ul.links {
      padding: 0;
      margin: 0;
      list-style: none;
      font-size: 1rem;
      font-weight: 500;

      li {
        display: block;

        a {
          padding: .75rem 1rem;
          color: $white;
          display: flex;
          align-items: center;

          i {
            color: rgba($white, .7);
          }

          span {
            margin-left: .75rem;
          }
        }

        &.title {
          background-color: lighten($main_dark, 5%);

          span {
            font-size: 80%;
            color: rgba($white, .75);
            padding: .75rem 1rem;
            display: block;
          }
        }
      }
    }
  }

  .center {
    width: 100%;
    position: relative;
    padding: 1rem;

    .top {
      margin-bottom: 2rem;

      h1 {
        margin: 0 1rem 0 0;
        line-height: 1;
        font-weight: 600;
        font-size: 1.5rem;
      }

      a {
        z-index: 999999;
        position: fixed;
        bottom: 2rem;
        right: 1rem;
        border: 1px solid rgba($black, .1);
        background-color: $success;
        height: 48px;
        width: 48px;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        @include borderRadius(50%);
        @include boxShadow;
        @include defaultTransition;

        span {
          display: none;
        }

        &:hover,
        &:active,
        &:focus {
          @include zoom(1.1);
          @include customBoxShadow(1px 1px 1rem .8rem rgba($black, .1));
        }
      }
    }
  }

  &.open {
    .left {
      left: 0;
    }

    .center {
      right: -190px;
    }
  }

  @include breakpoint(768px) {
    display: flex;
    overflow: unset;

    .left {
      position: -webkit-sticky;
      position: sticky;
      top: 46px;
      left: 0;
    }
    .center {
      width: calc(100% - 190px);

      .top {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h1 {
          line-height: 42px;
          font-size: 1.75rem;
        }

        a {
          position: relative;
          bottom: unset;
          right: unset;
          z-index: unset;
          width: unset;
          height: unset;
          padding: .5rem 1rem;
          font-size: .9rem;
          transition: none;
          @include borderRadius(2rem);

          svg {
            margin-right: .5rem;
          }

          span {
            display: unset;
          }

          &:hover,
          &:active,
          &:focus {
            text-decoration: none;
            @include boxShadow;
            @include zoom(1);
          }
        }
      }
    }
    &.open {
      .center {
        right: unset;
      }
    }
  }

  @include breakpoint(992px) {
    .center {
      .top {
        h1 {
          font-size: 2rem;
        }
      }
    }
  }
}