@import "../../styles/mainUtil";

.button {
  cursor: pointer;
  display: inline-block;
  padding: 1rem 2.5rem;
  border: 1px solid rgba($black, .1);
  //color: $white !important;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  @include borderRadius(1.5rem);
  @include defaultTransition;

  .rightIcon {
    margin-left: .3rem;
    font-weight: 700;
    position: absolute;
    opacity: 0;
    @include defaultTransition;
  }

  &:hover,
  &:active,
  &:focus {
    &:not(:disabled) {
      outline: none;
      color: $white;
      text-decoration: none;
      @include boxShadow;

      .rightIcon {
        opacity: 1;
        @include transform(translateX(.3rem));
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .8;
  }
}