@import "../../styles/mainUtil";

.full {
  padding: 2rem 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.section {
  padding: 3rem 0;

  .inner {
    h2.title {
      margin-bottom: 3rem;
      font-size: 2rem;
      line-height: 1.3;
    }
  }

  &.dark {
    .inner {
      h2.title {
        color: $white;
      }
    }
  }

  @include breakpoint(768px) {
    padding: 6rem 0;
    .inner {
      h2.title {
        font-size: 2.5rem;
        margin-bottom: 4rem;
      }
    }
  }

  @include breakpoint(992px) {
    padding: 9rem 0;
    .inner {
      h2.title {
        margin-bottom: 6rem;
        font-size: 3rem;
      }
    }
  }
}

.pageTitle {
  background-color: $main_dark;
  color: $white;
  background-image: url('/city.webp');
  background-position: bottom;
  background-repeat: repeat-x;

  h1 {
    font-size: 2.5rem;
  }

  @include breakpoint(768px) {
    padding-top: 3rem;
    h1 {
      font-size: 3rem;
    }
  }

  @include breakpoint(992px) {
    padding-top: 5rem;

    h1 {
      font-size: 3.5rem;
    }
  }
}

.pageContent {
  padding-top: 1rem !important;

  .inner {
    p {
      margin-top: 0;
      font-size: 1.1rem;
      line-height: 1.4;
    }
  }

  @include breakpoint(768px) {
    background-color: $light;
    padding-top: 2rem !important;

    .inner {
      background-color: $white;
      border: 1px solid rgba($black, .1);
      padding: 2rem;
      margin-top: -5rem;
      @include boxShadow;
      @include borderRadius(1rem);
    }
  }

  @include breakpoint(992px) {
    .inner {
      margin-top: -6rem;
      padding: 4rem;

      p {
        font-size: 1.25rem;
      }
    }
  }
}

.notFound {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  svg {
    color: $warning;
  }

  p {
    margin: 0 0 0 1rem;
  }
}