@import "../../styles/mainUtil";

.toggle {
  position: relative;
  z-index: 999;
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 0 0 0 1rem;
  cursor: pointer;

  span {
    width: 8px;
    height: 8px;
    background-color: gray;
    display: block;
    margin-bottom: 5px;
    @include borderRadius(8px);
    @include transition(all .5s ease);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.open {
    padding-left: 0;

    span {
      width: 50px;
      background-color: $white;

      &:first-child {
        @include transform(rotate(-45deg) translate(-8px, 7px));
        margin-bottom: 0;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        @include transform(rotate(45deg) translate(-7px, -7px));
      }
    }
  }
}

.nav {
  z-index: 99;
  top: 0;
  position: sticky;
  background-color: $white;
  border-bottom: 1px solid rgba($black, .1);
  height: 70px;
  display: flex;
  align-items: center;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand {
      position: relative;
      //z-index: 999;

      a {
        font-size: 1.5rem;
        font-weight: 700;
        @include transition(color .5s ease);

        span {
          color: $main;
          @include transition(color .5s ease);
        }

        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
        }
      }

      &.plain {
        a {
          pointer-events: none;
        }
      }
    }

    .menu {
      display: flex;
      align-items: center;

      > ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: none;
          margin-left: 1rem;

          a {
            padding: .75rem 1.5rem;
            line-height: 1;
            border: 1px solid transparent;
            font-weight: 600;
            text-transform: uppercase;

            &:hover,
            &:focus,
            &:active {
              text-decoration: none;
            }
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }

      .dropdown {
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        position: fixed;
        background-color: rgba($main, .95);
        opacity: 0;
        display: flex;
        align-items: center;
        @include transition(opacity .5s ease);

        .inner {
          display: flex;
          flex-direction: column-reverse;

          .links {
            width: 100%;

            ul {
              list-style: none;
              margin: 0;
              padding: 0;

              li {
                a {
                  font-weight: 500;
                  font-size: 1.5rem;
                  line-height: 1.4;
                  color: $white;
                }
              }
            }
          }

          .account {
            width: 100%;
            margin-bottom: 2rem;
            text-align: center;

            p {
              color: $white;
              font-size: 1rem;
              font-weight: 500;
              line-height: 1.4;
              margin: 0;
            }

            a {
              margin-bottom: .5rem;

              &:first-child {
                margin-right: .5rem;
              }
            }
          }
        }
      }
    }

    .menuLoggedIn {
      display: flex;
      align-items: center;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          position: relative;

          &:first-child {
            .profile {
              a {
                img {
                  height: 40px;
                  width: 40px;
                  @include borderRadius(50%);
                }

                span {
                  display: none;
                }
              }
            }

            > ul {
              overflow: hidden;
              z-index: 9;
              position: absolute;
              top: 57px;
              right: 0;
              width: 0;
              opacity: 0;
              background-color: $white;
              padding: 0.5rem 0;
              @include customBoxShadow(0 .5rem 1rem rgba($black, .1));
              @include transition(opacity .2s ease);

              li {
                display: block;

                a {
                  display: flex;
                  align-items: center;
                  padding: .5rem 1rem;
                  font-size: 1rem;
                  @include defaultTransition;

                  svg {
                    margin-right: .5rem;
                    color: lighten($black, 40%);
                  }

                  &:hover,
                  &:active,
                  &:focus {
                    text-decoration: none;
                    background-color: $light;
                  }
                }

                &:last-child {
                  margin-bottom: 0;

                  a {
                    border-top: 1px solid rgba($black, .1);
                  }
                }
              }

              &.open {
                width: 160px;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  &.dashboard {
    background-color: $main_dark;
    height: 46px;
    padding: 0 1rem;

    .inner {
      .brand {
        display: flex;
        align-items: center;

        button.dashboardMenu {
          background-color: transparent;
          color: $white;
          border: none;
          padding: 0;
          margin-right: 1rem;
          @include defaultTransition;

          &:focus,
          &:active {
            outline: none;
          }

          &.open {
            color: lighten($main_dark, 30%);
          }
        }

        a {
          font-size: 1rem;
          color: $white;

          span {
            color: $white;
          }
        }
      }

      .menuLoggedIn {
        ul {
          li {
            &:first-child {
              .profile {
                a {
                  img {
                    height: 26px;
                    width: 26px;
                  }
                }
              }

              > ul {
                top: 38px;
                background-color: $main_dark;

                li {
                  a {
                    color: $white;

                    svg {
                      //color: darken($white, 40%);
                      color: $white;
                    }

                    &:hover,
                    &:active,
                    &:focus {
                      background-color: $main;
                    }
                  }

                  &:last-child {
                    a {
                      border-top: 1px solid rgba($white, .3);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.open {

    .inner {
      .brand {
        a {
          //color: $white;

          span {
            //color: $white;
          }
        }
      }

      .menu {

        .dropdown {
          min-height: 450px;
          height: 100vh;
          width: 100%;
          opacity: 1;
        }
      }
    }
  }

  @include breakpoint(768px) {
    .inner {
      .brand {
        button.dashboardMenu {
          display: none;
        }

        a {
          font-size: 1.75rem;
        }
      }

      .menu {
        > ul {
          li {
            display: inline-block;
          }
        }

        .dropdown {
          .inner {
            flex-direction: row;

            .links {
              width: 50%;

              ul {
                li {
                  a {
                    font-size: 1.75rem;
                  }
                }
              }
            }

            .account {
              width: 50%;
            }
          }
        }
      }

      .menuLoggedIn {
        ul {
          li {
            &:first-child {
              .profile {
                a {
                  display: flex;
                  align-items: center;

                  img {
                    margin-right: .5rem;
                  }

                  span {
                    font-weight: 500;
                    display: inline-block;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.dashboard {
      .inner {
        .menuLoggedIn {
          ul {
            li {
              &:first-child {
                .profile {
                  a {
                    font-size: .9rem;

                    span {
                      color: $white;
                    }
                  }
                }

                > ul {
                  li {
                    a {
                      font-size: .9rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}