@import "styles/mainUtil";

.login {
  padding-top: 1rem;

  .wrapper {
    display: flex;
    flex-direction: column;

    .illustration {
      margin-bottom: 1rem;

      img {
        max-width: 100%;
      }
    }

    .form {
      h1 {
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 1.1rem;
        line-height: 1.4;
        margin: 0 0 2rem;
      }
    }
  }
}