@import "../../../styles/mainUtil";

.form {
  .fields {
    margin-bottom: 2rem;

    .group {
      background-color: $white;
      border: 1px solid rgba($black, .1);
      padding: 1rem;
      border-bottom: none;
      position: relative;
      display: flex;
      align-items: center;
      @include defaultTransition;

      .icon {
        margin-right: 1.5rem;
        color: grey;
      }

      .input {
        width: calc(100% - 32px);

        .multi {
          display: flex;
          align-items: center;

          .inner {
            display: flex;

            > div {

              select {
                padding-right: 1.5rem;
              }

              &:last-child {
                padding-right: 0;
              }
            }
          }

          .cb {
            display: flex;
            align-items: center;
            margin-left: 1rem;

            label {
              margin: 0 0 0 .5rem;
            }
          }
        }

        > label.label {
          margin-bottom: 0;
          font-weight: 600;
          color: $default_black;
        }

        textarea,
        input[type=text],
        input[type=number],
        input[type=email],
        input[type=password],
        select {
          height: unset;
          font-size: 1rem;
          margin: 0;
          border: none;
          padding: .5rem 0;
        }
      }

      &.error {
        background-color: rgba($danger, .2);

        .icon {
          color: $danger;
        }
      }

      &:first-child,
      &:only-child {
        @include borderTopLeftRadius(.5rem);
        @include borderTopRightRadius(.5rem);
      }

      &:last-child {
        border-bottom: 1px solid rgba($black, .1);
        @include borderBottomLeftRadius(.5rem);
        @include borderBottomRightRadius(.5rem);
      }
    }
  }

  .imageToggle {
    display: flex;
    flex-direction: column;

    .toggle {
      margin-bottom: 2rem;

      .inner {
        text-align: center;
        padding: 2rem;
        border: 1px solid rgba($black, .1);
        position: relative;
        @include borderRadius(1rem);
        @include boxShadow;

        .icon {
          position: absolute;
          top: 1rem;
          left: 1rem;
          color: $success;
          opacity: 0;
          @include defaultTransition;
        }

        input[type=radio] {
          position: absolute;
          left: -999999px;

          &:checked {
            + label {
              img {
                @include zoom;
              }

              + .icon {
                opacity: 1;
              }
            }
          }
        }

        label {
          display: inline-block;
          margin: 0;

          img {
            max-width: 100%;
            margin-bottom: 1rem;
            @include defaultTransition;
          }

          p {
            font-size: 1.1rem;
            line-height: 1.4;
            margin: 0;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include breakpoint(768px) {
      flex-direction: row;

      .toggle {
        margin-bottom: 0;
        width: 50%;

        &:nth-child(odd) {
          padding-right: 1rem;
        }

        &:nth-child(even) {
          padding-left: 1rem;
        }
      }
    }
  }

  .action {
    button {
      margin-right: 1rem;
    }
  }
}