@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html, body {
  font-family: 'Quicksand', sans-serif;
}

@each $name, $color in $colors {
  .#{$name} {
    background-color: $color;
  }
}

.outline {
  border-color: rgba($white, .1) !important;
}

.outline-invert {
  border-color: rgba($black, .1) !important;
  color: $default_black !important;
}