@import "styles/mainUtil";

.otherAction {
  margin-top: .5rem;

  p {
    font-size: 90% !important;
    text-align: center;
    margin: 0 0 .5rem !important;
  }

  a {
    width: 100%;
    text-align: center;
  }
}